

/*== Goblin-Like =============================================================*/

@font-face {
    font-family: 'press_start_kregular';
    src: url('rsc/fonts/prstartk.eot');
    src: url('rsc/fonts/prstartk.eot?#iefix') format('embedded-opentype'),
         url('rsc/fonts/prstartk.woff2') format('woff2'),
         url('rsc/fonts/prstartk.woff') format('woff'),
         url('rsc/fonts/prstartk.ttf') format('truetype'),
         url('rsc/fonts/prstartk.svg#press_start_kregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
html, body{
    padding: 0px;
    margin: 0em;
}
body{
    background-color: #030306;
    background-image: url('rsc/background_1.png');
}
.central{
    text-align: center;
}
#game_area, #game_area *{
    font-size: 16px !important;
    /*line-height: 16px !important;*/
    margin: 0em;
    padding: 0px;
}
#game_area{
    cursor: pointer;
    background: #000;
    display: inline-block;
    /*border: double 16px #104;*/
    outline: 0px;
}
#game_area canvas{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    image-rendering: pixelated;
    image-rendering: pixels;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;
}
